<h1>Welcome to the CREATIVEST, AI THAT HAS EVER LIVED</h1>
<p1>Put ur prompt, wait, and see some very random but creative shitXD</p1>
<form action="/ai", method="post">
    <input type="text", name="Input">
    <input type="submit">
</form>
<h2>Instructions of how to use:</h2>
<p> So that is not the ai ur used too, it isnt creative, it is creativity.
</br> U dont rlly need to ""ask questions"", if u type something as "I ate pizza today" it will already
</br> Create a ENTIRE history on it, and it will be very random, but also very creative.
</br> I dont rlly recommend using this for creating histories, and yes to get ideias. Put the first cool
</br> thing that comes in mind, read it random shit, and create a history about it.
</p>
<h3>Prompt Examples:</h3>
<p>I rided my bike today
</br>I ate pizza today
</br> This week I moved houses
</br>Im on cold war, and urss and usa made an aliance
</p>
<form action="/home", method="post">
    <input type="submit", value="Home">
</form>
<h1>Output:</h1>
<p>{{ output }}</p>